<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.swipes.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/swipes_circle"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/swipes_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swipes">
        <activity
            android:name=".AddPublicActivity"
            android:exported="false" />
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4099878916908856~2787920996" />
    </application>

</manifest>